body, button {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 0px 0px;
  }

.sidebar {
    height: 100%;
    width: 200px;
    top: 0px;
    position: fixed;
    z-index: 1;
    background-color:seagreen;
    /*overflow-x: hidden;*/
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.listbutno {
    list-style: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
.sidebar a {
    color:white;
    display: block;
    padding: 4px 8px 18px 8px;
    font-size: 28px;
    text-decoration:none;
    margin: 10px 0px 10px 0px;
}


.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    border: none;
    background-color: inherit;
    font-family: inherit;
    margin: 0px 0px 10px 0px;
    color:white;
    display: block;
    padding: 4px 8px 24px 8px;
    font-size: 28px;
    text-decoration:none;    
}
  

.sidebar a:hover,
.dropdown:hover .dropbtn {
    color:orange;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    width: 184px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 0px 16px 0px 0px;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    min-width:184px;
    width: 100%;
}


.dropdown-content a:hover {
    background-color: #ddd;
  }
  
.show {display:block;}

.main {
    margin-left: 200px;
    padding: 0px 10px;
}


@media screen and (max-width: 800px) {
    .sidebar {
      width: 100%;
      height: 56px;
      position: fixed;
    }
    .sidebar a {float: left;}
    .main {margin-left: 0;margin-top:56px;padding: 0px 0px;}
    .dropdown {float: left;margin: 10px 0px 10px 0px;} 
    
    .dropdown-content {
        position: absolute;
    }
}
  
@media screen and (max-width: 480px) {
    .sidebar {
        height:auto;
    }
    .sidebar a {
      text-align: center;
      float: none;
    }
    
    .dropdown{
        text-align: center;
        float: none;
        width:100%;
        padding: 0px 0px 0px 0px;
    } 
    .dropbtn {
        text-align: center;
        float: none;
        width:100%;
        padding: 0px 0px 0px 0px;
    }
    .dropdown-content {position: relative;}
}

.nav {
    list-style-type: none;
}




.bgimg {
  /* Set a specific height */
  min-height: 50vh;
  position: relative;
  opacity: 0.65;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
}

.caption span.border {
    background-color: #111;
    opacity:0.8;
	color: #fff;
	padding: 16px;
	font-size: 22px;
	letter-spacing: 4px;
}

.img_container {
    height:95vh;
}

.img_ {
    max-height: 100%;
    max-width:  100%;
    object-fit: contain; 
}

.nolist {
    list-style: none;
}
