{% extends "base" %}
{%script%}
<script src="javascript/8s.js"></script>
{%endscript%}
{% block content %}
    <div class="eights">
        <a id="r1">xxx</a><br/>
        <a id="r2">xxx</a><br/>
        <a id="r3">xxx</a><br/>
        <br/>
        <a id="msg">0 moves</a>
        <div>
            <kbd>←</kbd><kbd>↑</kbd><kbd>↓</kbd><kbd>→</kbd> to move
        </div>
        <div>
            <button onclick="reset()">
                <kbd>r</kbd> or <kbd>Enter</kbd> to reset
            </button>    
        </div>
    </div>
{% endblock %}