{% extends "base" %}
{% block content %}
<p>Might play around with the js canvas here</p>
<br/>
<br/>
<a href="https://www.youtube.com/watch?v=SNgNBsCI4EA">Hey look buddy, I'm an (software) engineer. That means I solve problems, not problems like "What is beauty?" Because that would fall within the purview of your conundrums of philosophy. I solve practical problems, for instance:</a> how am I going to build myself a website. The answer? A bit by hand, a bit with a custom static website generator built by me, for me.
{% endblock %}